@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View Task";
}

<!--Add model -->

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Task</td>
            <td>Due Date</td>
            <td>Quadrant</td>
            <td>Category</td>
            <td>Complete?</td>
            <!--Due I need to change the table to make it a quadrant based view. How do I make column names on the left side?-->
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model)
            {
        <tr>
            <td>i.task</td>
            <td>i.date</td>
            <td>i.quadrant</td>
            <td>i.category</td>
            <td>i.complete</td>

            <td><a asp-controller="Home" asp-action="Edit">Edit</a></td>
        </tr>
            }

    </tbody>
</table>
